<div class="container-fluid">
  <h2>Sobre</h2>
  <br />
  <p class="text-break" style="text-indent:35.4pt">
    Foi dado início ao estudo da área em 2016 no curso de Ciência da Computação,
    mas em 2019 foi trancado pela troca de cidade e assim a troca de curso agora
    sendo Análise e Desenvolvimento de Sistemas que será finalizado no ano de
    2020.
  </p>

  <p class="text-break" style="text-indent:35.4pt">
    Nesse período foram criados vários sistemas, primeiramente em Excel,
    utilizando o próprio VBA para fazer o controle de saída e entrada do
    Almoxarifado. Depois aprimorando o sistema foi para VB.net com um banco
    relacional no Access, tendo um salto muito grande de performance e
    agilidade, após isso foram feitas várias atualizações, para uma ligação
    maior com o AASI e outras funcionalidades como BOT no telegrama, Marmitas,
    Rateio de telefonia, controle secundário do SELS e ligação com o MYSQL. Após
    isso foi iniciado um sistema de ponto online para funcionários via PHP que
    tinha integração com o primeiro programa de almoxarifado, tirando assim por
    ele as batidas para o programa <span class="SpellE">PontoSecullum</span>.
  </p>

  <p class="text-break" style="text-indent:35.4pt">
    Depois de certo estudo gerado as API's para autenticação no Pfsense via
    LDAP, RADIUS e MYSQL para acesso a internet das escolas e administração do
    campo. Por último a API que fica na UCOB que faz a reimpressão dos boletos
    do CFE e a integração com o BOT do WhatsApp. Agora outros campos estão indo
    atrás do mesmo serviço para a implantação. Acesse o <a target="_blank" href="https://boletosea.ucob.org.br/">link</a> do site!
  </p>

  <p class="text-break" style="text-indent:35.4pt">
    Ainda mais agora o estudo e a vontade de melhorar aumentam para procurar
    crescer e virar um ótimo profissional para honrar a Deus e usar o os dons e
    habilidades que me deu para sua obra!
  </p>

  <p class="text-break" style="text-indent:35.4pt">
    Mauro CSJr.
  </p>
</div>
