<div class="container-fluid d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center">Cadastro</h2>
      <form>
        <app-form-input-texto [formInput]="nomeInput"></app-form-input-texto>
        <app-form-input-texto
          [formInput]="sobreNomeInput"
        ></app-form-input-texto>
        <app-form-input-data
          [formInput]="dataNascimentoInput"
        ></app-form-input-data>
        <app-form-input-cpf [formInput]="cpfInput"></app-form-input-cpf>
        <app-form-input-tel [formInput]="telWhatsInput"></app-form-input-tel>
        <app-form-input-tel [formInput]="telCelularInput"></app-form-input-tel>
        <app-form-input-tel [formInput]="telFixoInput"></app-form-input-tel>
        <app-form-input-tel [formInput]="telComerInput"></app-form-input-tel>
        <app-form-input-texto [formInput]="emailInput"></app-form-input-texto>
        <app-form-input-select
          [formInput]="sexoInput"
          [arrays]="sexos"
        ></app-form-input-select>
        <button type="button" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>
