<div class="container" style="padding-bottom: 10px;">
  <h2 class="text-center">Cadastro</h2>
  <div class="row ">
    <div class="col-sm">
      <app-form-input-texto
        [formInput]="nomeInput"
        (valueInput)="setNome($event)"
      ></app-form-input-texto>
      <app-form-input-texto
        [formInput]="sobreNomeInput"
        (valueInput)="setSobrenome($event)"
      ></app-form-input-texto>
      <app-form-input-data
        [formInput]="dataNascimentoInput"
        (valueInput)="setDataNascimento($event)"
      ></app-form-input-data>
    </div>
    <div class="col-sm">
      <app-form-input-cpf
        [formInput]="cpfInput"
        (valueInput)="setCpf($event)"
      ></app-form-input-cpf>
      <app-form-input-texto
        [formInput]="emailInput"
        (valueInput)="setEmail($event)"
      ></app-form-input-texto>
      <app-form-input-select
        [formInput]="sexoInput"
        [arrays]="sexos"
        (valueInput)="setSexo($event)"
      ></app-form-input-select>
    </div>
    <div class="col-sm">
      <app-tabela-telefones
        (adicionarTels)="receberTelefones($event)"
        [telefones]="telefones"
      ></app-tabela-telefones>
    </div>
  </div>
  <div class="container">
    <div class="row align-self-center"></div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <button type="button" class="btn btn-primary" (click)="salvar()">
        Salvar
      </button>
    </div>
  </div>
</div>
